# From: https://docs.github.com/en/github/getting-started-with-github/configuring-git-to-handle-line-endings
# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

*.{js,jsx,ts,tsx.vue} text eol=lf encoding=utf-8
*.sh text eol=lf encoding=utf-8
*.{ps1,bat} text eol=crlf

# config
*.{yml,yaml} text eol=lf encoding=utf-8
*.toml text eol=lf encoding=utf-8
*.json text eol=lf encoding=utf-8

# text files
*.{md,txt} text eol=lf encoding=utf-8

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.sh text eol=lf
*.conf.tempalte text eol=lf

# Denote all files that are truly binary and should not be modified.
# images
*.{png,jpg,jpeg,gif,ico,tiff,bmp} binary
*.{mp3,mp4} binary
